@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/app.js"></script>

<button onclick="findNameofTallestMountain()">Tallest Mountain </button>
<button onclick="calcAverageProductPrice()">Average Price </button>
<button onclick="calcInventoryValue()">Inventory Value </button>